.hero-container{
  height: 70vh;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.feature-container{
  height: 80vh;
  background-color: var(--light-gray);
}

.mentor-container{
  height: 70vh;
  background-color: var(--dark-gray);
}