.hero-container{
  height: 70vh;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-container{
  height: 70vh;
  background-color: var(--light-gray);
}